img.socialmedia
{
    width: 50px;
}

.navbar-inner, .navbar .brand,  .footer
{
    background-color: #7401DF;
}

.container
{
    width: 100%;
}

#About
{
    

}

html
{
    background-color:#eee;
}
