<div id="social">

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/jaquejbrito" target="_blank">
	<img src="/images/icons/linkedin.png" alt="LinkedIn profile" />
      </a>
    </li>
    <li>
      <a href="https://github.com/jaquejbrito" target="_blank">
	<img src="/images/icons/github.png" alt="Github profile" />
      </a>
    </li>
    <li>
      <a href="https://www.researchgate.net/profile/Jaqueline_Brito2"  target="_blank">
	<img src="/images/icons/researchgate.png" alt="Research Gate profile"/>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/jaquejbrito"  target="_blank">
	<img src="/images/icons/twitter.png" alt="Twitter profile" />
      </a>
    </li>
  </ul>
  
</div>
